body {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100px;
    height: 50px;
}

.form {

    background-color: white;
    width: 356px;
    height: 333px;
    border: 2px solid black;
    border-radius: 10px;
    
}

.fdiv {
    width: 356px;
    height: 42px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
}

.sdiv {
    position: relative;
    top: 37%;
    left: 5%;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center

}
input {

    width: 184px;
    height: 20px;
    margin-left: 5px;
    padding-left: 3px;
    font-size: 20px;
}
.tdiv {

    position: relative;
    top: 64%;
    left: 35%;
    width: 110px;
    height: 35px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 8px;
}